.header {
  padding: 34.55px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo__link {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 87.23px;
  padding: 5px;
}
.logo__icon {
  margin-right: 3.61px;
  width: 23px;
}
.logo__media {
  width: 100%;
}
.logo-head {
  white-space: nowrap;
  font-size: 11.446px;
  font-weight: 700;
  line-height: 128.023%;
  text-decoration-line: line-through;
  transition: all 0.6s;
  &:hover {
    color: $color-text-opacity;
  }
}
.navbar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    margin-right: 48.36px;
  }
  &__link {
    font-size: 12.091px;
    padding: 5px;
    white-space: nowrap;
    transition: all 0.6s;
    color: $color-text-opacity;
    &:hover {
      color: $color-text-base;
      font-weight: 600;
    }
  }
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 13.8px;
}
.btn-login {
  padding: 10px;
  color: $color-text-opacity;
  font-size: 12.091px;
  transition: all 0.6s;
  &:hover {
    color: $color-text-base;
  }
}
.btn-sign {
  @include button;
  width: 114px;
  height: 39px;
  padding: 8.636px 13.818px;
}
.hamb {
  display: none;
}
.popup {
  display: none;
}
