@media (max-width: 1001px) {
  @import './burger';
  /* burger */
  .logo {
    margin-left: 40px;
    width: 90px;
  }
  .logo__link {
    width: 100%;
  }
  .switch-items {
    gap: 250px;
  }
}
@media (max-width: 945px) {
  .switch-items {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 25px;
  }
  .switch-item:nth-child(2) {
    position: static;
  }
  .switch-item {
    margin: 0 auto;
  }
  .price-title {
  }
  .price-title__head {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 420px) {
  .container {
    padding: 0 5px;
  }
  .header-container {
    padding: 0 7px;
  }
  .switch-item {
    width: 318px;
  }
  .btn-sign {
    width: 60px;
    padding: 5px;
  }
  .bar {
    width: 27px;
  }
  .header-btns {
    gap: 5px;
  }
  .switch-item {
    width: 270px;
  }
  .switch-item-description {
    padding: 25px 40px 41px;
  }
  .switch-item__up {
    padding: 36px 40px 0;
  }
  .switch-item__item {
    margin-bottom: 10px;
  }
  .switch-item__info {
    margin: 15.4px 0 10px;
  }
  .switch-item__btn {
    width: 180px;
  }
}
